body{
    background-color: #eee;
}

.splash{
    font-family: "matrix-ii-script";
    font-weight: 700;
    font-style: normal;

    font-size: 70px;
    letter-spacing: -2px;
    line-height: 1.1;

    transform: rotate(-7deg);

    width: 95vw;
    overflow: hidden;

    margin-block-end: 30px;
}
.head1, .head2, .head3, .head4{
    margin-block-start: 0;
    margin-block-end: 0;
}
.head1{
    margin-left: 100px;
}
.head2{
    font-size: 100px;
    letter-spacing: -3px;
    position: relative;
}
.head3{
    font-size: 100px;
    letter-spacing: -3px;
    margin-left: 50px;
}
.head4{
    margin-left: 500px;
}

.head1::after{
    content: "A Bibliography of";
    position: absolute;
    left: 100px;
    font-family: matrix-ii-display-hilite-scr, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: turquoise;
}
.head2::after{
    content: "Trans & Nonbinary";
    position: absolute;
    left: 0;
    font-family: matrix-ii-display-hilite-scr, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: turquoise;
}
.head3::after{
    content: "Representation";
    position: absolute;
    left: 50px;
    font-family: matrix-ii-display-hilite-scr, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: turquoise;
}
.head4::after{
    content: "in Picture Books";
    position: absolute;
    left: 500px;
    font-family: matrix-ii-display-hilite-scr, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: turquoise;
}



.shelf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    --hgt: 45vh;
    --transition: opacity 0.2s ease-in-out;
    --beforesize: 12px;
    --mainsize: 18px;
    --titlesize: 24px;
}
.entry{
    margin: 1em;
    display: flex;
    width: auto;
    height: var(--hgt);
    position: relative;
}
.container{
    opacity: 0;
    background-color: rgba(64, 224, 208, 1);
    position: absolute;
    width: auto;
    height: var(--hgt);
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "matrix-ii-script";
    font-weight: 400;
    font-style: normal;

    font-size: var(--mainsize);
}
.container:hover{
    opacity: 1;
    transition: var(--transition);
}
img{
    display: block;
    object-fit: contain;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -100;
}


a{
    width: auto;
    text-decoration: none;
    /* text-decoration-thickness: 1px; */
    color: black; 
    /* background-image: linear-gradient(to bottom, transparent 0.18em, #b9f3ed 0.18em, #b9f3ed 1.1em, transparent 1.1em); */
    background-color: rgba(185,243,237, 1);
}

.container a{
    display: flex;
    justify-content: center;
}
.auth::before{
    display: flex;
    justify-content: center;
    content: "Written by";
    font-size: var(--beforesize);
}
.illus::before{
    display: flex;
    justify-content: center;
    content: "Illustrated by";
    font-size: var(--beforesize);
}
.pub::before{
    display: flex;
    justify-content: center;
    content: "Published by";
    font-size: var(--beforesize);
}
.title, .auth, .illus, .pub{
    margin-block-start: 0px;
    text-align: center;

}
.title{
    font-size: var(--titlesize);
}
.year{
    margin-block-start: 0px;
    margin-block-end: 0px;
}