body{
    background-color:#ceffee;
    height: 80vh;
    display: flex;
    align-items: center;

    font-family: "matrix-ii";
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

img{
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
}
.cover{
    width: 220px;
    position: fixed;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
}

.cover:hover{
    cursor: grab;
}

.cover:active{
    cursor: grabbing;
}

.title{

    font-family: "matrix-ii-script";
    font-weight: 600;
    font-style: normal;
    font-size: 19px;
    margin: 1em 0 0 1em;
    width: 220px;

}
.small{
    font-size: 14px;
    margin-top: 2em;
    margin-left: 1.5em;
    line-height: 20px;
}
.small_back{
    font-size: 14px;
    margin-top: 2em;
    margin-left: 1.5em;
    line-height: 40px;
    display: none;
}

.logo{
    margin-left: -5px;

}

.aboutbutton{
    cursor: pointer;
}

.about, .book{
    box-sizing: border-box;
    position: fixed;
    background-color: #ceffee;
    width: calc(100vw - 260px);
    height: 100vh;
    top:0;
    right:0;
    z-index: 5000;
    display: none;
    padding: 1em 1em 1em 5em;
}

.align_title{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    margin: 2em 0 3em 0;
}
.book_cover{
    height: 100px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
}
.book_title{
    padding: 0 0 0 1em;
    font-family: "matrix-ii-script";
    font-weight: 500;
    font-style: normal;
    font-size: 48px;
    letter-spacing: -0.03em;
    line-height: 0;
}
.book a{
    font-family: "matrix-ii-script";
    font-weight: 600;
    font-style: normal;
    font-size: 19px;
    letter-spacing: -0.02em;
    line-height: 0;
    padding: 0 0.1em 0 0.1em;
    text-decoration: none;
    color: black;
}
.description{
    width: 36em;
}
iframe{
    height: 180px;
    width: 320px;
    margin-top: 2em;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.5);
}