@font-face {
    font-family: "DisrepairMM";
    src: url("sd_gx.ttf") format("truetype-variations");
    font-weight: 100 900;
}

:root {
    --myblu: #0000ff;
    --syllables: 0;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: "DisrepairMM", sans-serif;
    font-variation-settings: "wght" 450;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #eeeeee;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
      border-style: solid;
      border-color: #eee;
      border-width: 3px;
    background: var(--myblu);
  }

  





.first_outer_container{
    height: 100vh;
    margin: 0;
    background-color: var(--myblu);
    /* background-image: url(speech-sounds-bkg_2.jpg);
    background-size: cover; */
}

.first_container{
    margin: 0em 1.5em 1em 2em;
    padding-top: 1em;
}

#overlay{
    z-index: 1000;
    margin-bottom: -100vh;
    position: relative;
    display: none;
}

.first_container_fixed{
    margin: 0em 1.5em 1em 2em;
    padding-top: 1em;
    opacity: 100%;
    animation: none;
}

.fixed{
    display: inline;
    font-family: "DisrepairMM";
    font-variation-settings: "wght" 450;
    color:#eeeeee;
    font-size: calc(2vw + 3vh);
    line-height: 135%;
    opacity: 100%;
    animation: none;
}

.first_container p{
    display: inline;
    font-family: "DisrepairMM";
    font-variation-settings: "wght" 450;
    color:#eeeeee;
    font-size: calc(2vw + 3vh);
    line-height: 135%;

    opacity: 0%;
    animation: 
        addword 0.15s ease-in calc(var(--syllables) * 0.15s) forwards,
        collapse 1s ease-in calc(var(--syllables) * 0.15s + 0.5s) forwards;

}



#cite{
    text-align: center;
    display: flex;
    flex-direction: row;

    margin: 25px auto 0 auto;
    font-size: 18px;
    animation: 
        addword 0.5s ease-in calc(var(--syllables) * 0.15s) forwards;

}

#citealpha{
    text-align: center;
    display: flex;
    flex-direction: row;

    margin: 25px auto 0 2em;
    font-size: 18px;

}

#citefour{

    display: flex;
    flex-direction: row;
    color: #eeeeee;
    margin: 25px auto 0 2em;
    font-size: 18px;

}

#citefive{

    display: flex;
    flex-direction: row;
    color: var(--myblu);
    margin: 25px auto 0 0;
    font-size: 18px;

    vertical-align:baseline;

}

.sep{
    display: inline-block;
    width: calc(50vw - 230px);
    min-width: 1em;
}
.septwo{
    display: inline-block;
    width: calc(50vw - 235px);
    min-width: 1em;
}

.sepfour{
    display: inline-block;
    width: calc(50vw - 360px);
    min-width: 1em;
}

.citetop{
    display: flex;
    flex-direction: row;

    margin: 25px auto 0 auto;
    font-size: 18px;
}

.lift{
    display: inline-block;
    transform: translate(0px, -2px);
}

@keyframes addword{
    0%{
        opacity: 0%;
    }
    100%{
       opacity: 100%;
    }
}

@keyframes collapse{
    0%{
        font-variation-settings: "wght" 450;
    }
    100%{
        font-variation-settings: "wght" 900;
    }
}


[contenteditable]:focus {
    outline: 0px solid transparent;
}

.second_container_t{
    height: 50vh;

    background-color: #eeeeee;
    color: var(--myblu);

    text-align: center;
    font-size: 18px;
    padding-top: 6vh;
    box-sizing: border-box; 
    
}

.second_container_b{
    height: 50vh;

    background-color: var(--myblu);
    color: #eeeeee;
    
    padding: 6vh 1.5em 1em 2em;
    box-sizing: border-box; 

}

.second_container_t p{
    margin-block-start: 0;
    margin-block-end: 0;
}


@keyframes separate{
    0%{
        font-variation-settings: "wght" 450;
    }
    42%{
        font-variation-settings: "wght" 100;
    }
    58%{
        font-variation-settings: "wght" 100;
    }
    100%{
        font-variation-settings: "wght" 450;
    }
}

.second_small{
    font-size: 18px;
}
.second_title{
    font-size: 8vw;
    letter-spacing: -0.3vw;
    animation: separate 8s ease-in-out 0s infinite;
}
.second_author{
    font-size: 4vw;
    letter-spacing: -0.1vw;
    animation: separate 8s ease-in-out 2s infinite;
}




.second_blurb{
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: calc(1.5vw + 2.25vh);
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.second_foot{
    margin: 6vh auto 0 auto;
    font-size: 18px;
    line-height: 200%;
}
.sep2{
    display: inline-block;
    width: calc(50vw - 375px);
    min-width: 1em;
}















.third_container{
    height: 100vh;
    background-color: #eeeeee;
    color: var(--myblu);
    cursor: none;
}

.sampletext{
    text-align: center;
    padding-top: 1px;
}

.alphabet{
    font-size: calc(4vw + 4vh);
    --tester: 450;
    font-variation-settings: "wght" var(--tester);
    line-height: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 4vh;
    
}

#guide{
    text-align: left;
    height: 0px;
    overflow: visible;
    width: 9.3em;
    pointer-events: none;
}

.arrows{
    pointer-events: none;
    font-size: 18px;

}

.typedesc{
    margin-top: calc(18px + 0.3vw + 0.5vh);
    margin-bottom: calc(18px + 0.6vw + 1vh);
    font-size: calc(18px + 0.3vw + 0.5vh);
    letter-spacing: -0.05vh;
}
b{
    font-size: 110%;
}






.fourth_container p{
    display: inline;
    font-family: "DisrepairMM";
    font-variation-settings: "wght" var(--newght);
    color:#eeeeee;
    font-size: calc(1.3vw + 2.5vh);
    line-height: 135%;

}
.fourth_container{
    margin: 0em 1.5em 1em 2em;
    padding-top: 1em;
}





.last_container{
    height: calc(100vh - 2em);
    margin: 0;
    padding:1em 1.5em 1em 2em;
    background-color: #eeeeee;
}



textarea{
    color: var(--myblu);
    letter-spacing: -1px;
    word-spacing: normal;

    text-indent: 0px;

    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: #eeeeee;

    flex-direction: column;
    resize:none;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    column-count: initial !important;
    margin: 0em;
    font: inherit;
    border-width: 0px;
    border-style: none;
    border-image: initial;
    padding: 0px;
}


textarea:focus {
    outline: 0px solid transparent;
    border-width: 0px;
    border-style:none;
}
::placeholder {
    color: var(--myblu);
    opacity: 1;
  }

#userentry{
    width: calc(100vw - 60px);
    font-size: 60px;
    height: calc(100vh - 85px);
    margin-bottom: -10px;
}

input{
    color: var(--myblu);
    letter-spacing: -1px;
    word-spacing: normal;

    text-indent: 0px;

    background-color: #eeeeee;

    margin: 0em;
    font: inherit;
    border-width: 0px;
    border-style: none;
    border-image: initial;
    padding: 0 0 0 5px;
    width: 85px;
}
input:focus{
    outline: 1px solid var(--myblu);
    border-width: 0px;
    border-style:none;
}


.parasmall{
    font-size: 16px;
    vertical-align: baseline;
    display: inline;
    color: var(--myblu);
    cursor:default;
}
.paranum{
    font-size: 22px;
    vertical-align: baseline;
    display: inline;
    color: var(--myblu);
    cursor: default;
}







@media (max-width: 720px) {
    .first_container{
        margin: 0em 1em 1em 1em;
    }
    .first_container_fixed{
        margin: 0em 1em 1em 1em;
    }
    .first_container p{
        font-size: calc(1.5vw + 2.5vh);
    }
    .fixed{
        font-size: calc(1.5vw + 2.5vh);
    }
    .citetop{
        font-size: 18px;
    }

    .alphabet{
        font-size: 9vw;
    }

    #guide{
        visibility: hidden;
    }



    .second_title{
        font-size: 10vw;

    }
    .second_author{
        font-size: 8vw;
    }
    .second_container_b{
        padding-top: 1em;
        padding-left: 1em;
    }
    .second_container_t{
        padding-top: 10vh;
    }




    @keyframes testmobile{
        0%{
            font-variation-settings: "wght" 100;
        }
        50%{
            font-variation-settings: "wght" 440;
        }
        100%{
            font-variation-settings: "wght" 900;
        }
    }

    .alphabet{
        --tester: 100;
        animation: testmobile 5s ease-in-out 0s infinite alternate;

    }

    #citealpha{
        margin-left:0;
    }

    .alphamore{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .remove{
        display: none;
    }

    .typedesc{
        margin-bottom: 10vh;
    }



    .fourth_container p{

        font-size: calc(2vw + 1.5vh);
    
    }
    .fourth_container{

        margin-left: 1em;
    
    }

    #citefour{
        margin: 25px auto 0 1em;
    }





}

@media (max-width: 900px) {
    .typedescbreak{
        display: none;
    }
    .typedesc{
        padding: 10vh 10px 0 10px;
    }
}



@media (max-width: 411px) {
    #citefour{
        flex-direction: column;
        text-align: center;
        margin-left: 0;
    }
}

@media (max-width: 850px) {
    #userentry{
        height: calc(100vh - 100px);

    }
}

@media (max-width: 460px) {
    #userentry{
        height: calc(100vh - 120px);

    }
}